:root {
    --color-darkblue-1: #212529;
    --color-yellow-1: #ffd333;
    --color-green-1: #47ad24;
    --color-red-1: #e52e2e;
    --color-gray-1: #828599;
    --color-darkblue-2: #3d464d;
    --color-silver-1: #c3d4da;
}

.quill {
    background: white;
}

.form-control {
    box-shadow: none;
    border-color: var(--color-silver-1)
}

.title {
    font-size: 28px;
    font-family: Roboto !important;
}

.sub-title {
    font-size: 24px;
    font-family: Roboto !important;
    color: vr(--color-darkblue-1)
}

.desc {
    font-size: 14px;
    font-family: Roboto !important;
    color: var(--color-gray-1)
}

.formik-error {
    color: red;
    margin-bottom: 5px;
    margin-top: -10px;
    font-size: 12px;
}